// ========================
// == Top-level settings ==
// ========================

// TODO: Change configuration mechanism.

// Describes whether to generate Duomo.
$headless: false !default;

// Describes whether to generate Duomo variables.
$headless-root: false !default;

// Describes whether to generate debugger utilities.
$debugger: true !default;

// Describes whether to generate stagger utilities.
$stagger: true !default;

// Used for pseudos and breakpoints.
$delimiter: ":" !default;

// ============
// == Ranges ==
// ============

// prettier-ignore
$nrange: (
	  -1,
	  -2,
	  -3,
	  -4,
	  // -5,
	  -6,
	  // -7,
	  -8,
	  // -9,
	 -10,
	 -12,
	 -14,
	 -16,
	 -18,
	 -20,
	 -24,
	 -28,
	 -32,
	 -36,
	 -40,
	 -48,
	 -56,
	 -64,
	 -72,
	 -80,
	 -96,
	-112,
	-128,
	-144,
	-160,
	-192,
	-224,
	-256,
	-288,
	-320,
	-384,
);

// prettier-ignore
$range: (
	  0,
	  1,
	  2,
	  3,
	  4,
	  // 5,
	  6,
	  // 7,
	  8,
	  // 9,
	 10,
	 12,
	 14,
	 16,
	 18,
	 20,
	 24,
	 28,
	 32,
	 36,
	 40,
	 48,
	 56,
	 64,
	 72,
	 80,
	 96,
	112,
	128,
	144,
	160,
	192,
	224,
	256,
	288,
	320,
	384,
);

// =================
// == Breakpoints ==
// =================

// prettier-ignore
$breakpoint-map: (
	xs:   512, // 32 * 16
	sm:   640, // 32 * 20
	md:   768, // 32 * 24
	lg:  1024, // 32 * 32
	xl:  1280, // 32 * 40
	// 2xl: 1536, // 32 * 48
);
