.m-auto {
  margin: auto;
}

.-m-1 {
  margin: -0.0625rem;
}

.-m-2 {
  margin: -0.125rem;
}

.-m-4 {
  margin: -0.25rem;
}

.-m-8 {
  margin: -0.5rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.0625rem;
}

.m-2 {
  margin: 0.125rem;
}

.m-4 {
  margin: 0.25rem;
}

.m-8 {
  margin: 0.5rem;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.0625rem;
}

.p-2 {
  padding: 0.125rem;
}

.p-4 {
  padding: 0.25rem;
}

.p-8 {
  padding: 0.5rem;
}

.w-0 {
  width: 0;
}

.w-1 {
  width: 0.0625rem;
}

.w-2 {
  width: 0.125rem;
}

.w-4 {
  width: 0.25rem;
}

.w-8 {
  width: 0.5rem;
}

.w-max {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-0 {
  height: 0;
}

.h-1 {
  height: 0.0625rem;
}

.h-2 {
  height: 0.125rem;
}

.h-4 {
  height: 0.25rem;
}

.h-8 {
  height: 0.5rem;
}

.h-max {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

@media (min-width: 512px) {
  .xs\:m-auto {
    margin: auto;
  }

  .xs\:-m-1 {
    margin: -0.0625rem;
  }

  .xs\:-m-2 {
    margin: -0.125rem;
  }

  .xs\:-m-4 {
    margin: -0.25rem;
  }

  .xs\:-m-8 {
    margin: -0.5rem;
  }

  .xs\:m-0 {
    margin: 0;
  }

  .xs\:m-1 {
    margin: 0.0625rem;
  }

  .xs\:m-2 {
    margin: 0.125rem;
  }

  .xs\:m-4 {
    margin: 0.25rem;
  }

  .xs\:m-8 {
    margin: 0.5rem;
  }

  .xs\:p-0 {
    padding: 0;
  }

  .xs\:p-1 {
    padding: 0.0625rem;
  }

  .xs\:p-2 {
    padding: 0.125rem;
  }

  .xs\:p-4 {
    padding: 0.25rem;
  }

  .xs\:p-8 {
    padding: 0.5rem;
  }

  .xs\:w-0 {
    width: 0;
  }

  .xs\:w-1 {
    width: 0.0625rem;
  }

  .xs\:w-2 {
    width: 0.125rem;
  }

  .xs\:w-4 {
    width: 0.25rem;
  }

  .xs\:w-8 {
    width: 0.5rem;
  }

  .xs\:w-max {
    width: 100%;
  }

  .xs\:w-screen {
    width: 100vw;
  }

  .xs\:h-0 {
    height: 0;
  }

  .xs\:h-1 {
    height: 0.0625rem;
  }

  .xs\:h-2 {
    height: 0.125rem;
  }

  .xs\:h-4 {
    height: 0.25rem;
  }

  .xs\:h-8 {
    height: 0.5rem;
  }

  .xs\:h-max {
    height: 100%;
  }

  .xs\:h-screen {
    height: 100vh;
  }
}
@media (min-width: 640px) {
  .sm\:m-auto {
    margin: auto;
  }

  .sm\:-m-1 {
    margin: -0.0625rem;
  }

  .sm\:-m-2 {
    margin: -0.125rem;
  }

  .sm\:-m-4 {
    margin: -0.25rem;
  }

  .sm\:-m-8 {
    margin: -0.5rem;
  }

  .sm\:m-0 {
    margin: 0;
  }

  .sm\:m-1 {
    margin: 0.0625rem;
  }

  .sm\:m-2 {
    margin: 0.125rem;
  }

  .sm\:m-4 {
    margin: 0.25rem;
  }

  .sm\:m-8 {
    margin: 0.5rem;
  }

  .sm\:p-0 {
    padding: 0;
  }

  .sm\:p-1 {
    padding: 0.0625rem;
  }

  .sm\:p-2 {
    padding: 0.125rem;
  }

  .sm\:p-4 {
    padding: 0.25rem;
  }

  .sm\:p-8 {
    padding: 0.5rem;
  }

  .sm\:w-0 {
    width: 0;
  }

  .sm\:w-1 {
    width: 0.0625rem;
  }

  .sm\:w-2 {
    width: 0.125rem;
  }

  .sm\:w-4 {
    width: 0.25rem;
  }

  .sm\:w-8 {
    width: 0.5rem;
  }

  .sm\:w-max {
    width: 100%;
  }

  .sm\:w-screen {
    width: 100vw;
  }

  .sm\:h-0 {
    height: 0;
  }

  .sm\:h-1 {
    height: 0.0625rem;
  }

  .sm\:h-2 {
    height: 0.125rem;
  }

  .sm\:h-4 {
    height: 0.25rem;
  }

  .sm\:h-8 {
    height: 0.5rem;
  }

  .sm\:h-max {
    height: 100%;
  }

  .sm\:h-screen {
    height: 100vh;
  }
}
@media (min-width: 768px) {
  .md\:m-auto {
    margin: auto;
  }

  .md\:-m-1 {
    margin: -0.0625rem;
  }

  .md\:-m-2 {
    margin: -0.125rem;
  }

  .md\:-m-4 {
    margin: -0.25rem;
  }

  .md\:-m-8 {
    margin: -0.5rem;
  }

  .md\:m-0 {
    margin: 0;
  }

  .md\:m-1 {
    margin: 0.0625rem;
  }

  .md\:m-2 {
    margin: 0.125rem;
  }

  .md\:m-4 {
    margin: 0.25rem;
  }

  .md\:m-8 {
    margin: 0.5rem;
  }

  .md\:p-0 {
    padding: 0;
  }

  .md\:p-1 {
    padding: 0.0625rem;
  }

  .md\:p-2 {
    padding: 0.125rem;
  }

  .md\:p-4 {
    padding: 0.25rem;
  }

  .md\:p-8 {
    padding: 0.5rem;
  }

  .md\:w-0 {
    width: 0;
  }

  .md\:w-1 {
    width: 0.0625rem;
  }

  .md\:w-2 {
    width: 0.125rem;
  }

  .md\:w-4 {
    width: 0.25rem;
  }

  .md\:w-8 {
    width: 0.5rem;
  }

  .md\:w-max {
    width: 100%;
  }

  .md\:w-screen {
    width: 100vw;
  }

  .md\:h-0 {
    height: 0;
  }

  .md\:h-1 {
    height: 0.0625rem;
  }

  .md\:h-2 {
    height: 0.125rem;
  }

  .md\:h-4 {
    height: 0.25rem;
  }

  .md\:h-8 {
    height: 0.5rem;
  }

  .md\:h-max {
    height: 100%;
  }

  .md\:h-screen {
    height: 100vh;
  }
}
@media (min-width: 1024px) {
  .lg\:m-auto {
    margin: auto;
  }

  .lg\:-m-1 {
    margin: -0.0625rem;
  }

  .lg\:-m-2 {
    margin: -0.125rem;
  }

  .lg\:-m-4 {
    margin: -0.25rem;
  }

  .lg\:-m-8 {
    margin: -0.5rem;
  }

  .lg\:m-0 {
    margin: 0;
  }

  .lg\:m-1 {
    margin: 0.0625rem;
  }

  .lg\:m-2 {
    margin: 0.125rem;
  }

  .lg\:m-4 {
    margin: 0.25rem;
  }

  .lg\:m-8 {
    margin: 0.5rem;
  }

  .lg\:p-0 {
    padding: 0;
  }

  .lg\:p-1 {
    padding: 0.0625rem;
  }

  .lg\:p-2 {
    padding: 0.125rem;
  }

  .lg\:p-4 {
    padding: 0.25rem;
  }

  .lg\:p-8 {
    padding: 0.5rem;
  }

  .lg\:w-0 {
    width: 0;
  }

  .lg\:w-1 {
    width: 0.0625rem;
  }

  .lg\:w-2 {
    width: 0.125rem;
  }

  .lg\:w-4 {
    width: 0.25rem;
  }

  .lg\:w-8 {
    width: 0.5rem;
  }

  .lg\:w-max {
    width: 100%;
  }

  .lg\:w-screen {
    width: 100vw;
  }

  .lg\:h-0 {
    height: 0;
  }

  .lg\:h-1 {
    height: 0.0625rem;
  }

  .lg\:h-2 {
    height: 0.125rem;
  }

  .lg\:h-4 {
    height: 0.25rem;
  }

  .lg\:h-8 {
    height: 0.5rem;
  }

  .lg\:h-max {
    height: 100%;
  }

  .lg\:h-screen {
    height: 100vh;
  }
}
@media (min-width: 1280px) {
  .xl\:m-auto {
    margin: auto;
  }

  .xl\:-m-1 {
    margin: -0.0625rem;
  }

  .xl\:-m-2 {
    margin: -0.125rem;
  }

  .xl\:-m-4 {
    margin: -0.25rem;
  }

  .xl\:-m-8 {
    margin: -0.5rem;
  }

  .xl\:m-0 {
    margin: 0;
  }

  .xl\:m-1 {
    margin: 0.0625rem;
  }

  .xl\:m-2 {
    margin: 0.125rem;
  }

  .xl\:m-4 {
    margin: 0.25rem;
  }

  .xl\:m-8 {
    margin: 0.5rem;
  }

  .xl\:p-0 {
    padding: 0;
  }

  .xl\:p-1 {
    padding: 0.0625rem;
  }

  .xl\:p-2 {
    padding: 0.125rem;
  }

  .xl\:p-4 {
    padding: 0.25rem;
  }

  .xl\:p-8 {
    padding: 0.5rem;
  }

  .xl\:w-0 {
    width: 0;
  }

  .xl\:w-1 {
    width: 0.0625rem;
  }

  .xl\:w-2 {
    width: 0.125rem;
  }

  .xl\:w-4 {
    width: 0.25rem;
  }

  .xl\:w-8 {
    width: 0.5rem;
  }

  .xl\:w-max {
    width: 100%;
  }

  .xl\:w-screen {
    width: 100vw;
  }

  .xl\:h-0 {
    height: 0;
  }

  .xl\:h-1 {
    height: 0.0625rem;
  }

  .xl\:h-2 {
    height: 0.125rem;
  }

  .xl\:h-4 {
    height: 0.25rem;
  }

  .xl\:h-8 {
    height: 0.5rem;
  }

  .xl\:h-max {
    height: 100%;
  }

  .xl\:h-screen {
    height: 100vh;
  }
}
@media (min-width: 1536px) {
  .\32 xl\:m-auto {
    margin: auto;
  }

  .\32 xl\:-m-1 {
    margin: -0.0625rem;
  }

  .\32 xl\:-m-2 {
    margin: -0.125rem;
  }

  .\32 xl\:-m-4 {
    margin: -0.25rem;
  }

  .\32 xl\:-m-8 {
    margin: -0.5rem;
  }

  .\32 xl\:m-0 {
    margin: 0;
  }

  .\32 xl\:m-1 {
    margin: 0.0625rem;
  }

  .\32 xl\:m-2 {
    margin: 0.125rem;
  }

  .\32 xl\:m-4 {
    margin: 0.25rem;
  }

  .\32 xl\:m-8 {
    margin: 0.5rem;
  }

  .\32 xl\:p-0 {
    padding: 0;
  }

  .\32 xl\:p-1 {
    padding: 0.0625rem;
  }

  .\32 xl\:p-2 {
    padding: 0.125rem;
  }

  .\32 xl\:p-4 {
    padding: 0.25rem;
  }

  .\32 xl\:p-8 {
    padding: 0.5rem;
  }

  .\32 xl\:w-0 {
    width: 0;
  }

  .\32 xl\:w-1 {
    width: 0.0625rem;
  }

  .\32 xl\:w-2 {
    width: 0.125rem;
  }

  .\32 xl\:w-4 {
    width: 0.25rem;
  }

  .\32 xl\:w-8 {
    width: 0.5rem;
  }

  .\32 xl\:w-max {
    width: 100%;
  }

  .\32 xl\:w-screen {
    width: 100vw;
  }

  .\32 xl\:h-0 {
    height: 0;
  }

  .\32 xl\:h-1 {
    height: 0.0625rem;
  }

  .\32 xl\:h-2 {
    height: 0.125rem;
  }

  .\32 xl\:h-4 {
    height: 0.25rem;
  }

  .\32 xl\:h-8 {
    height: 0.5rem;
  }

  .\32 xl\:h-max {
    height: 100%;
  }

  .\32 xl\:h-screen {
    height: 100vh;
  }
}
