.shadow-inner {
  box-shadow: var(--shadow-inner);
}

.shadow-xs {
  box-shadow: var(--shadow-xs);
}

.shadow-sm {
  box-shadow: var(--shadow-sm);
}

.shadow-md {
  box-shadow: var(--shadow-md);
}

.shadow-lg {
  box-shadow: var(--shadow-lg);
}

.shadow-xl {
  box-shadow: var(--shadow-xl);
}

.shadow-2xl {
  box-shadow: var(--shadow-2xl);
}

.hover\:shadow-inner:hover {
  box-shadow: var(--shadow-inner);
}

.hover\:shadow-xs:hover {
  box-shadow: var(--shadow-xs);
}

.hover\:shadow-sm:hover {
  box-shadow: var(--shadow-sm);
}

.hover\:shadow-md:hover {
  box-shadow: var(--shadow-md);
}

.hover\:shadow-lg:hover {
  box-shadow: var(--shadow-lg);
}

.hover\:shadow-xl:hover {
  box-shadow: var(--shadow-xl);
}

.hover\:shadow-2xl:hover {
  box-shadow: var(--shadow-2xl);
}

.focus\:shadow-inner:focus {
  box-shadow: var(--shadow-inner);
}

.focus\:shadow-xs:focus {
  box-shadow: var(--shadow-xs);
}

.focus\:shadow-sm:focus {
  box-shadow: var(--shadow-sm);
}

.focus\:shadow-md:focus {
  box-shadow: var(--shadow-md);
}

.focus\:shadow-lg:focus {
  box-shadow: var(--shadow-lg);
}

.focus\:shadow-xl:focus {
  box-shadow: var(--shadow-xl);
}

.focus\:shadow-2xl:focus {
  box-shadow: var(--shadow-2xl);
}

.group-hover:hover .group-hover\:shadow-inner {
  box-shadow: var(--shadow-inner);
}

.group-hover:hover .group-hover\:shadow-xs {
  box-shadow: var(--shadow-xs);
}

.group-hover:hover .group-hover\:shadow-sm {
  box-shadow: var(--shadow-sm);
}

.group-hover:hover .group-hover\:shadow-md {
  box-shadow: var(--shadow-md);
}

.group-hover:hover .group-hover\:shadow-lg {
  box-shadow: var(--shadow-lg);
}

.group-hover:hover .group-hover\:shadow-xl {
  box-shadow: var(--shadow-xl);
}

.group-hover:hover .group-hover\:shadow-2xl {
  box-shadow: var(--shadow-2xl);
}

.group-focus:focus .group-focus\:shadow-inner {
  box-shadow: var(--shadow-inner);
}

.group-focus:focus .group-focus\:shadow-xs {
  box-shadow: var(--shadow-xs);
}

.group-focus:focus .group-focus\:shadow-sm {
  box-shadow: var(--shadow-sm);
}

.group-focus:focus .group-focus\:shadow-md {
  box-shadow: var(--shadow-md);
}

.group-focus:focus .group-focus\:shadow-lg {
  box-shadow: var(--shadow-lg);
}

.group-focus:focus .group-focus\:shadow-xl {
  box-shadow: var(--shadow-xl);
}

.group-focus:focus .group-focus\:shadow-2xl {
  box-shadow: var(--shadow-2xl);
}

@media (min-width: 640px) {
  .sm\:shadow-inner {
    box-shadow: var(--shadow-inner);
  }

  .sm\:shadow-xs {
    box-shadow: var(--shadow-xs);
  }

  .sm\:shadow-sm {
    box-shadow: var(--shadow-sm);
  }

  .sm\:shadow-md {
    box-shadow: var(--shadow-md);
  }

  .sm\:shadow-lg {
    box-shadow: var(--shadow-lg);
  }

  .sm\:shadow-xl {
    box-shadow: var(--shadow-xl);
  }

  .sm\:shadow-2xl {
    box-shadow: var(--shadow-2xl);
  }
}
@media (min-width: 768px) {
  .md\:shadow-inner {
    box-shadow: var(--shadow-inner);
  }

  .md\:shadow-xs {
    box-shadow: var(--shadow-xs);
  }

  .md\:shadow-sm {
    box-shadow: var(--shadow-sm);
  }

  .md\:shadow-md {
    box-shadow: var(--shadow-md);
  }

  .md\:shadow-lg {
    box-shadow: var(--shadow-lg);
  }

  .md\:shadow-xl {
    box-shadow: var(--shadow-xl);
  }

  .md\:shadow-2xl {
    box-shadow: var(--shadow-2xl);
  }
}
@media (min-width: 1024px) {
  .lg\:shadow-inner {
    box-shadow: var(--shadow-inner);
  }

  .lg\:shadow-xs {
    box-shadow: var(--shadow-xs);
  }

  .lg\:shadow-sm {
    box-shadow: var(--shadow-sm);
  }

  .lg\:shadow-md {
    box-shadow: var(--shadow-md);
  }

  .lg\:shadow-lg {
    box-shadow: var(--shadow-lg);
  }

  .lg\:shadow-xl {
    box-shadow: var(--shadow-xl);
  }

  .lg\:shadow-2xl {
    box-shadow: var(--shadow-2xl);
  }
}
@media (min-width: 1280px) {
  .xl\:shadow-inner {
    box-shadow: var(--shadow-inner);
  }

  .xl\:shadow-xs {
    box-shadow: var(--shadow-xs);
  }

  .xl\:shadow-sm {
    box-shadow: var(--shadow-sm);
  }

  .xl\:shadow-md {
    box-shadow: var(--shadow-md);
  }

  .xl\:shadow-lg {
    box-shadow: var(--shadow-lg);
  }

  .xl\:shadow-xl {
    box-shadow: var(--shadow-xl);
  }

  .xl\:shadow-2xl {
    box-shadow: var(--shadow-2xl);
  }
}
