@use "../../getters";
@use "../../utils";

// prettier-ignore
$opts: (
	shorthand: w,
	property: width,
	type: range,
	range: utils.var-join(
		auto,
		getters.range()
		100%,
		100vw,
	),
	resolver: rem,
);
