@use "../helpers" as *;

// position: absolute;
// @each $prop in (top, right, bottom, left) {
// 	#{$prop}: 0;
// }
// @each $prop in (width, height) {
// 	#{$prop}: 100%;
// }

// NOTE: Does not support `$variants` because of `[style]` selector.
@mixin aspect-ratio {
	// NOTE: Use parens so `16 / 9` works.
	[style*="--aspect-ratio"] {
		position: relative;
		padding-bottom: calc(100% / (var(--aspect-ratio)));
	}
	[style*="--aspect-ratio"] > * {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
