@use "_variants" as *;
@use "../helpers" as *;

@mixin aspect-ratio {
	// NOTE: Use parens so `16 / 9` works.
	[style*="--aspect-ratio"] {
		position: relative;
		padding-bottom: calc(100% / (var(--aspect-ratio)));
	}
	[style*="--aspect-ratio"] > * {
		position: absolute;
		@each $prop in (top, right, bottom, left) {
			#{$prop}: 0;
		}
		@each $prop in (width, height) {
			#{$prop}: 100%;
		}
	}
}
