@use "../constructor" as *;
@use "../helpers" as *;
@use "../mixins" as *;

// prettier-ignore
$-opts: (
	(
		shorthand: border,
		property: border-width,
		type: range,
		range: cap(range(), 8),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius,
		property: border-radius,
		type: range,
		range: var-join(
			cap(range(), 24),
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
);

@mixin border {
	@include constructor($-opts);
}
