@use "../constructor" as *;
@use "../helpers" as *;
@use "../mixins" as *;

// prettier-ignore
$-opts: (
	(
		shorthand: border,
		property: border-width,
		range: cap(range(), 8),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: border-t,
		property: border-top-width,
		range: cap(range(), 8),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: border-r,
		property: border-right-width,
		range: cap(range(), 8),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: border-b,
		property: border-bottom-width,
		range: cap(range(), 8),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: border-l,
		property: border-left-width,
		range: cap(range(), 8),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius,
		property: (border-radius),
		range: var-join(
			cap(range(), 24),
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius-t,
		property: (border-top-left-radius, border-top-right-radius),
		range: var-join(
			cap(range(), 24),
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius-r,
		property: (border-top-right-radius, border-bottom-right-radius),
		range: var-join(
			cap(range(), 24),
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius-b,
		property: (border-bottom-left-radius, border-bottom-right-radius),
		range: var-join(
			cap(range(), 24),
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius-l,
		property: (border-top-left-radius, border-bottom-left-radius),
		range: var-join(
			cap(range(), 24),
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius-tr,
		property: (border-top-right-radius),
		range: var-join(
			cap(range(), 24),
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius-br,
		property: (border-bottom-right-radius),
		range: var-join(
			cap(range(), 24),
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius-bl,
		property: (border-bottom-left-radius),
		range: var-join(
			cap(range(), 24),
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius-tl,
		property: (border-top-left-radius),
		range: var-join(
			cap(range(), 24),
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
);

@mixin border {
	@include constructor($-opts);
}
