@use "../constructor" as *;
@use "../helpers" as *;

// prettier-ignore
$__opts: (
	(
		shorthand: border,
		property: border-width,
		type: range,
		range: var-join(
			0,
			1,
			2,
			3,
			4,
			5,
			6,
			7,
			8,
		),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: radius,
		property: border-radius,
		type: range,
		range: var-join(
			0,
			1,
			2,
			3,
			4,
			5,
			6,
			7,
			8,
			9,
			10,
			12,
			14,
			16,
			18,
			20,
			24,
			9999px,
		),
		resolver: rem,
		variants: (responsive),
	),
);

@mixin border {
	@include constructor($__opts);
}
