@use "_variants" as *;
@use "../helpers" as *;

@mixin box-shadow($variants...) {
	@include variants($variants) using ($ctx, $pseudo) {
		#{$ctx}shadow-sm#{$pseudo} {
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		}
		#{$ctx}shadow#{$pseudo} {
			// prettier-ignore
			box-shadow:
				0 1px 3px 0 rgba(0, 0, 0, 0.1),
				0 1px 2px 0 rgba(0, 0, 0, 0.06);
		}
		#{$ctx}shadow-md#{$pseudo} {
			// prettier-ignore
			box-shadow:
				0 4px 6px -1px rgba(0, 0, 0, 0.1),
				0 2px 4px -1px rgba(0, 0, 0, 0.06);
		}
		#{$ctx}shadow-lg#{$pseudo} {
			// prettier-ignore
			box-shadow:
				0 10px 15px -3px rgba(0, 0, 0, 0.1),
				0 4px 6px -2px rgba(0, 0, 0, 0.05);
		}
		#{$ctx}shadow-xl#{$pseudo} {
			// prettier-ignore
			box-shadow:
				0 20px 25px -5px rgba(0, 0, 0, 0.1),
				0 10px 10px -5px rgba(0, 0, 0, 0.04);
		}
		#{$ctx}shadow-2xl#{$pseudo} {
			box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
		}
		#{$ctx}shadow-inner#{$pseudo} {
			box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
		}
		#{$ctx}shadow-none#{$pseudo} {
			box-shadow: none;
		}
	}
}
