@use "_variants" as *;
@use "../helpers" as *;

@mixin display($variants...) {
	// prettier-ignore
	@include variants($variants) using ($ctx, $pseudo) {
		@include generate-from-map((
			ctx: $ctx,
			pseudo: $pseudo,
			shorthand: none,
			property: (display),
			// TODO
			map: (
				invisible: hidden,
				visible: block,
			),
			resolver: none,
		));
	}
}
