@use "../constructor" as *;
@use "../helpers" as *;

// // TODO: `variants: (responsive)`
// @mixin display {
// 	@include -impl;
// 	@include responsive {
// 		@include -impl;
// 	}
// }

// prettier-ignore
$-opts: (
	shorthand: none,
	property: display,
	map: (
		visible: block,
		invisible: hidden,
	),
	resolver: none,
	variants: (responsive),
);

@mixin display {
	@include constructor($-opts);
}
