@use "../constructor" as *;

@use "../getters";
@use "../utils";

// prettier-ignore
$__opts: (
	shorthand: h,
	property: height,
	type: range,
	range: utils.var-join(
		auto,
		getters.range()
		100%,
		100vh,
	),
	resolver: rem,
);

@mixin height {
	@include constructor($__opts);
}
