@use "../constructor" as *;
@use "../helpers" as *;

// prettier-ignore
$__opts: (
	shorthand: h,
	property: height,
	type: range,
	range: var-join(
		auto,
		range()
		100%,
		100vh,
	),
	resolver: rem,
);

@mixin height {
	@include constructor($__opts);
}
