@use "../constructor" as *;
@use "../helpers" as *;
@use "../mixins" as *;

// prettier-ignore
$-opts: (
	shorthand: h,
	property: height,
	type: range,
	range: var-join(
		auto,
		range()
		100%,
		100vh,
	),
	resolver: rem,
	variants: (responsive),
);

@mixin height {
	@include constructor($-opts);
}
