@forward "border";
// @forward "display";
@forward "group";
@forward "height";
@forward "margin";
@forward "opacity";
@forward "padding";
@forward "position";
@forward "width";
@forward "z-index";

// TODO: Deprecate `type: range`.
