@forward "misc-z-index" as z-index-*;
@forward "size-height" as height-*;
@forward "size-width" as width-*;
@forward "space-margin" as margin-*;
@forward "space-padding" as padding-*;

// TODO: Add support for `exempt` or `none`.
// TODO: Add support for `nrange`.
// FIXME: `breakpoints` per property are not being interpolated.
