@use "../getters";
@use "../utils";

$opts: (
	shorthand: m,
	property: margin,
	type: range,
	range: utils.sum-list(getters.nrange(), getters.range()),
	resolver: rem,
	// breakpoints: breakpoints(),
	// pseudos: none,,,,
);
