@use "_variants" as *;
@use "../helpers" as *;

// prettier-ignore
$-opts: (
	hidden,
	scroll,
);

@mixin overflow($variants...) {
	@include variants($variants) using ($ctx, $pseudo) {
		@each $opt in $-opts {
			#{$ctx}overflow-#{$opt}#{$pseudo} {
				@if $opt == scroll {
					-webkit-overflow-scrolling: touch;
				}
				overflow: $opt;
			}
		}
		@each $opt in $-opts {
			#{$ctx}overflow-x-#{$opt}#{$pseudo} {
				@if $opt == scroll {
					-webkit-overflow-scrolling: touch;
				}
				overflow-x: $opt;
			}
		}
		@each $opt in $-opts {
			#{$ctx}overflow-y-#{$opt}#{$pseudo} {
				@if $opt == scroll {
					-webkit-overflow-scrolling: touch;
				}
				overflow-y: $opt;
			}
		}
	}
}
