@use "../constructor" as *;
@use "../helpers" as *;
@use "../mixins" as *;

// prettier-ignore
$__opts: (
	(
		shorthand: p,
		property: padding,
		type: range,
		range: range(),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: px,
		property: (padding-left, padding-right),
		type: range,
		range: range(),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: py,
		property: (padding-top, padding-bottom),
		type: range,
		range: range(),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: pt,
		property: padding-top,
		type: range,
		range: range(),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: pr,
		property: padding-right,
		type: range,
		range: range(),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: pb,
		property: padding-bottom,
		type: range,
		range: range(),
		resolver: rem,
		variants: (responsive),
	),
	(
		shorthand: pl,
		property: padding-left,
		type: range,
		range: range(),
		resolver: rem,
		variants: (responsive),
	),
);

@mixin padding {
	@include constructor($__opts);
}
