@use "sass:list";

@use "../getters";

// prettier-ignore
$opts: (
	shorthand: p,
	property: padding,
	type: range,
	range: list.join(getters.nrange(), getters.range()),
	resolver: rem,
	// breakpoints: breakpoints(),
	// pseudos: none,
);
