// prettier-ignore
$opts: (
	shorthand: p,
	property: padding,
	type: range,
	range: (
		-1,
		-2,
		-4,
		-8,
		 0,
		 1,
		 2,
		 4,
		 8,
	),
	resolver: rem,
	breakpoints: breakpoints(),
	pseudos: none,
);
