@use "sass:list";

@use "../getters";

// prettier-ignore
$opts: (
	shorthand: w,
	property: width,
	type: range,
	// TODO: add `100%`.
	// TODO: add `100vw`.
	range: list.join(getters.nrange(), getters.range()),
	resolver: rem,
	// breakpoints: breakpoints(),
	// pseudos: none,
);
