@use "../getters" as getters;

// prettier-ignore
$options: (
	// TODO: Add support for `exempt` or `none`.
	shorthand: w,
	property: width,
	type: range,
	// TODO: Add support for `nrange`.
	range: (
		-1,
		-2,
		-4,
		-8,
		 0,
		 1,
		 2,
		 4,
		 8,
		 100%,
		 100vw,
	),
	resolver: rem,
	breakpoints: breakpoints(),
	pseudos: none,
);
