@use "../constructor" as *;
@use "../helpers" as *;

// prettier-ignore
$__opts: (
	shorthand: w,
	property: width,
	type: range,
	range: var-join(
		auto,
		range()
		100%,
		100vw,
	),
	resolver: rem,
);

@mixin width {
	@include constructor($__opts);
}
