@use "_variants" as *;
@use "../helpers" as *;

@mixin width($variants...) {
	// prettier-ignore
	@include variants($variants) using ($ctx, $pseudo) {
		@include generate-from-range((
			ctx: $ctx,
			pseudo: $pseudo,
			shorthand: w,
			property: (width),
			range: var-join(
				auto,
				range(),
				min-content,
				max-content,
				100%,
				100vw,
			),
			resolver: rem,
		));
	}
}
