@use "../constructor" as *;
@use "../helpers" as *;

// prettier-ignore
$-opts: (
	shorthand: z,
	property: z-index,
	type: range,
	range: (
		-10,
		  0,
		 10,
		 20,
		 30,
		 40,
		 50,
	),
	resolver: none,
	variants: (
		responsive,
		focus,
	),
);

@mixin z-index {
	@include constructor($-opts);
}
