@use "sass:list";

// @use "provider" as *;

// prettier-ignore
$breakpoints: (
	sm:  640,
	md:  768,
	lg: 1024,
	xl: 1280,
);

@mixin variants($variants) {
	@content (".", "");
	@if list.index($variants, hover) {
		@content (".hover\\:", ":hover");
	}
	@if list.index($variants, "hover") {
		@content (".focus\\:", ":focus");
	}
	@if list.index($variants, "group-hover") {
		@content (".group-hover:hover .group-hover\\:", "");
	}
	@if list.index($variants, "group-focus") {
		@content (".group-focus:focus .group-focus\\:", "");
	}
	@if list.index($variants, "responsive") {
		@each $mk, $mv in ($breakpoints) {
			@media (min-width: #{$mv + px}) {
				@content (".#{$mk}\\:", "");
			}
		}
	}
}

@mixin box-shadow($variants...) {
	@include variants($variants) using ($ctx, $pseudo) {
		@at-root {
			#{$ctx}shadow-sm#{$pseudo} {
				box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
			}
			#{$ctx}shadow#{$pseudo} {
				// prettier-ignore
				box-shadow:
					0 1px 3px 0 rgba(0, 0, 0, 0.1),
					0 1px 2px 0 rgba(0, 0, 0, 0.06);
			}
			#{$ctx}shadow-md#{$pseudo} {
				// prettier-ignore
				box-shadow:
					0 4px 6px -1px rgba(0, 0, 0, 0.1),
					0 2px 4px -1px rgba(0, 0, 0, 0.06);
			}
			#{$ctx}shadow-lg#{$pseudo} {
				// prettier-ignore
				box-shadow:
					0 10px 15px -3px rgba(0, 0, 0, 0.1),
					0 4px 6px -2px rgba(0, 0, 0, 0.05);
			}
			#{$ctx}shadow-xl#{$pseudo} {
				// prettier-ignore
				box-shadow:
					0 20px 25px -5px rgba(0, 0, 0, 0.1),
					0 10px 10px -5px rgba(0, 0, 0, 0.04);
			}
			#{$ctx}shadow-2xl#{$pseudo} {
				box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
			}
			#{$ctx}shadow-inner#{$pseudo} {
				box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
			}
			#{$ctx}shadow-none#{$pseudo} {
				box-shadow: none;
			}
		}
	}
}

@at-root {
	@include box-shadow(responsive, hover, group-hover, focus, group-focus);
}

// shadow-sm	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
// box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
// shadow	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
// box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
// shadow-md	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
// box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
// shadow-lg	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
// box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
// shadow-xl	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
// box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
// shadow-2xl	--tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
// box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
// shadow-inner	--tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
// box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
// shadow-none	--tw-shadow: 0 0 #0000;
// box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

// // User story:
// @at-root {
// 	@each $rv in nrange() {
// 		.w-#{$rv} {
// 			width: #{$rv + px};
// 		}
// 	}
// 	@each $key, $n in breakpoints() {
// 		@media (min-width: px($n)) {
// 			.#{$key} {
// 				@each $rv in range() {
// 					&\:w-#{$rv} {
// 						width: #{$rv + px};
// 					}
// 				}
// 			}
// 		}
// 	}
// }
//
// // User story (advanced):
// @mixin polyfill {
// 	@each $rv in list.join(nrange(), range()) {
// 		#{amp()}#{n($rv)}w-#{math.abs($rv)} {
// 			width: rem($rv);
// 		}
// 	}
// }
//
// @at-root {
// 	@include polyfill;
// 	@each $key, $n in breakpoints() {
// 		@media (min-width: px($n)) {
// 			.#{$key} {
// 				@at-root {
// 					@include polyfill;
// 				}
// 			}
// 		}
// 	}
// }
