// @use "sass:list";

@use "provider" as *;

// // User story:
// @at-root {
// 	@each $rv in nrange() {
// 		.w-#{$rv} {
// 			width: #{$rv + px};
// 		}
// 	}
// 	@each $key, $n in breakpoints() {
// 		@media (min-width: px($n)) {
// 			.#{$key} {
// 				@each $rv in range() {
// 					&\:w-#{$rv} {
// 						width: #{$rv + px};
// 					}
// 				}
// 			}
// 		}
// 	}
// }
//
// // User story (advanced):
// @mixin polyfill {
// 	@each $rv in list.join(nrange(), range()) {
// 		#{amp()}#{n($rv)}w-#{math.abs($rv)} {
// 			width: rem($rv);
// 		}
// 	}
// }
//
// @at-root {
// 	@include polyfill;
// 	@each $key, $n in breakpoints() {
// 		@media (min-width: px($n)) {
// 			.#{$key} {
// 				@at-root {
// 					@include polyfill;
// 				}
// 			}
// 		}
// 	}
// }
