@use "sass:map";
@use "sass:math";

@use "getters" as *;
@use "resolvers" as *;
@use "configuration";

@use "core/width";

@mixin build($options) {
	$shorthand: map.get($options, shorthand);
	$property: map.get($options, property);
	$type: map.get($options, type);
	$range: map.get($options, range);
	$resolver: map.get($options, resolver);
	$breakpoints: map.get($options, breakpoints);
	$pseudos: map.get($options, pseudos);

	@if $type == range {
		@each $rv in $range {
			#{amp()}#{n($rv)}#{$shorthand}-#{name(math.abs($rv))} {
				#{$property}: resolve($rv, $resolver);
			}
		}
	}
}

@at-root {
	@if configuration.$headless == false {
		@include build(width.$options);
		@each $key, $n in breakpoints() {
			@media (min-width: px($n)) {
				.#{$key} {
					@at-root {
						@include build(width.$options);
					}
				}
			}
		}
	}
}
