@use "helpers" as *;

@use "configuration";
@use "core";

@mixin lib {
	@include core.group;
	// @include core.display;
	@include core.position;
	@include core.margin;
	@include core.padding;
	@include core.width;
	@include core.height;
	@include core.border;
	@include core.opacity;
	@include core.z-index;
}

@at-root {
	@if configuration.$headless == false {
		@include lib;
	}
}
