@use "helpers" as *;

@use "configuration";

@use "core/border-radius" as *;
@use "core/border-width" as *;
@use "core/box-shadow" as *;
@use "core/container" as *;
@use "core/display" as *;
@use "core/grid" as *;
@use "core/height" as *;
@use "core/margin" as *;
@use "core/max-width" as *;
@use "core/max-width" as *;
@use "core/min-height" as *;
@use "core/opacity" as *;
@use "core/overflow" as *;
@use "core/padding" as *;
@use "core/pointer-events" as *;
@use "core/position" as *;
@use "core/shape" as *;
@use "core/width" as *;
@use "core/z-index" as *;

@at-root {
	@if configuration.$headless == false {
		@include grid(responsive);

		// @include display(responsive);
		// @include position(responsive);
		// @include margin(responsive);
		// @include padding(responsive);
		// @include width(responsive);
		// @include max-width(responsive);
		// @include container;
		// @include height(responsive);
		// @include min-height(responsive);
		// @include shape();
		// @include border-width(responsive);
		// @include border-radius(responsive);
		// @include box-shadow(responsive, hover, group-hover, focus, group-focus);
		// @include opacity(responsive, hover, group-hover, focus, group-focus);
		// @include overflow(responsive);
		// @include pointer-events(responsive);
		// @include z-index(responsive, hover, group-hover, focus, group-focus);
	}
}
