@use "sass:map";
@use "sass:math";

@use "getters" as *;
@use "resolvers" as *;

@use "configuration";
@use "core";

@mixin build($opts) {
	$shorthand: map.get($opts, shorthand);
	$property: map.get($opts, property);
	$type: map.get($opts, type);
	$range: map.get($opts, range);
	$resolver: map.get($opts, resolver);
	$breakpoints: map.get($opts, breakpoints);
	$pseudos: map.get($opts, pseudos);

	@if $type == range {
		@each $rv in $range {
			#{amp()}#{n($rv)}#{$shorthand}-#{name(math.abs($rv))} {
				#{$property}: resolve($rv, $resolver);
			}
		}
	}
}

@mixin props {
	@include build(core.$margin-opts);
	@include build(core.$padding-opts);
	@include build(core.$width-opts);
}

@at-root {
	@if configuration.$headless == false {
		@include props;
		@each $key, $n in breakpoints() {
			@media (min-width: px($n)) {
				.#{$key} {
					@at-root {
						@include props;
					}
				}
			}
		}
	}
}
