@use "sass:map";
@use "sass:math";

@use "getters" as *;
@use "resolvers" as *;

@function iterable($opts) {
	// prettier-ignore
	$ret: if(
		type-of($opts) == "map",
		($opts,),
		$opts,
	);
	@return $ret;
}

@mixin constructor($opts) {
	@each $opt in iterable($opts) {
		$shorthand: map.get($opt, shorthand);
		// TODO
		@if $shorthand == none {
			$shorthand: map.get($opt, property);
		}
		$property: map.get($opt, property);
		$type: map.get($opt, type);
		$range: map.get($opt, range);
		$resolver: map.get($opt, resolver);
		$breakpoints: map.get($opt, breakpoints);
		$pseudos: map.get($opt, pseudos);

		@if $type == range {
			@each $rv in $range {
				#{amp()}#{n($rv)}#{$shorthand}-#{ident(if(type-of($rv) != "number", $rv, math.abs($rv)))} {
					@each $prop in $property {
						#{$prop}: resolve($rv, $resolver);
					}
				}
			}
		}
	}
}
