@use "sass:map";

@use "configuration";
@use "escapers";

@function delimiter() {
	@return escapers.escape(configuration.$delimiter);
}

// TODO: Should this be configurable?
// TODO: Add support for `%`, etc.
@function name($any) {
	@if $any == 100% {
		@return "max";
	} @else if $any == 100vw or $any == 100vw {
		@return "screen";
	}
	@return $any;
}

@function nrange() {
	@return configuration.$nrange;
}

@function range() {
	@return configuration.$range;
}

@function breakpoint($key) {
	$got: map.get(configuration.$breakpoint-map, $key);
	@if not $got {
		@error "breakpoints: no such key; key=#{$key}";
	}
	@return $got;
}

@function breakpoints() {
	$map: ();
	@each $key, $n in configuration.$breakpoint-map {
		$map: map.set($map, escapers.escape-breakpoint-key($key), $n);
	}
	@return $map;
}
