@use "sass:map";

@use "configuration";
@use "escapers";

// TODO: Should this be configurable?
@function semantic($v) {
	@if $v == 100% {
		@return "max";
	} @else if $v == 100vw or $v == 100vw {
		@return "screen";
	}
	@return $v;
}

@function nrange() {
	@return configuration.$nrange;
}
@function range() {
	@return configuration.$range;
}

@function breakpoint($key) {
	$got: map.get(configuration.$breakpoint-map, $key);
	@if not $got {
		@error "breakpoints: no such key; key=#{$key}";
	}
	@return $got;
}
@function breakpoints() {
	$safe-map: ();
	@each $k, $v in configuration.$breakpoint-map {
		$safe-map: map.set($safe-map, escapers.escape-breakpoint-key($k), $v);
	}
	@return $safe-map;
}
